html {
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  color: #222; /* Medium-style dark gray text */
  background-color: #fff;
}

.dark {
  background-color: #121212;
  color: #E5E7EB;
}

a {
  color: black;
  transition: color 0.3s ease;
}

a:hover {
  color: #666;
}
